div(class='info-section-8')
  div(class=['footer-slogan'])
    img(class='logo', src='/images/4gm_logo.svg') 
    span → 
    span Is a Graphic design studio in Brooklyn building brands, websites and human experiences for good brands and nice people.
  div(class=['col-4'])
    strong ©2018 All Rights Reserved
    p For Good Measure, LLC
    p Unless otherwise noted
  div(class=['col-4'])
    strong New Business →
    p #{'kevin@forgoodmeasure.us'}
    p #{'917.882.0686'}
  div(class=['col-4'])
    strong Jobs & General Inquiries →
    p The Partners
    p #{'hello@forgoodmeasure.us'}
  div(class=['col-4'])
    strong Mail →
    p #{'119 Ingraham St., #224'}
    p #{'Brooklyn, NY'}